.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  overflow: auto;
  /* background: #e5e5e5; */
  background: rgb(132,94,194);
  background: linear-gradient(43deg, rgba(132,94,194,1) 0%, rgba(214,93,177,1) 20%, rgba(255,111,145,1) 40%, rgba(255,150,113,1) 60%, rgba(255,199,95,1) 80%, rgba(249,248,113,1) 100%);
  font-family: 'Inter', sans-serif;
}

pre {
  white-space: pre;
}


.name-ticker {
  /* position: fixed;
  top: 0;
  
  padding: 2rem;
  width: max-content;
  animation: ticker 2s linear; */
  position: fixed;
  padding: 0.5rem 0;
  background: rgba(255, 255, 255, 0.08);
  /* background: rgba(255, 255, 255, 0.1); */
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  z-index: 10;
  box-sizing: content-box;
}
.main-form-container {
  display: grid;
  grid-row: 1;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
 
}
.main-form-container > form {
  box-shadow:  0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 32rem;
  margin-top: 10rem;
}

.form-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: #161D2D;
}

.input-wrapper {
  margin-bottom: 1rem;

}

.input-label {
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  display: block;
  margin-bottom: 0.25rem;
  color: #161D2D;
}

.name-ticker .name-ticker-msg-container {
  display: flex;
  align-items: center;
  z-index: 1000;
  background: #161D2D;
  border-radius: 0 0 0.25rem 0;
  position: absolute;
  top: 0;
  left: 0;

  padding: 0.5rem;
}
.name-ticker .name-ticker-msg {
  font-size: 1rem;  
  color: white;
}

.name-ticker .name-ticker-msg-container .live-span {
    font-size: 0.875rem;
    color: white;
    background: rgba(255,111,145,1);
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    /* animation: opacityFade 2s linear infinite; */

}
.input-control {
  width: 100%;
  color: #161d2d;
  border: 2px solid #E2E8F0;
  height: 2.5rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  padding: 0 1rem;
  border-radius: 0.375rem;
}

.input-control.has-error {
  border: 2px solid #E53E3E;
}
.input-control:focus {
  outline: 0;
}

.input-control:focus:not(.has-error) {

  border: 2px solid rgba(255,111,145,1);
}

.input-control.has-error:focus {
  border: 2px solid #9B2C2C;
}
.submit-btn {
  border-radius: 12rem;
  appearance: none;
  border: none;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  margin-top: 1rem;  
   background: rgba(255,111,145,1);
  color: white;
  transition: background 250ms;
  cursor: pointer;
  transition: transform 250ms ease;
}

.submit-btn:active {
  transform: matrix(0.9, 0, 0, 0.9, 0, 0);
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.image-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.image-grid .animal-grid-item {
  display: flex;
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  transition: background 250ms ease;
  flex-direction: column;
}

.image-grid .animal-grid-item:hover:not(.selected) {
  background: #e5e5e5;
  cursor: pointer;
}
.img-container {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.25rem;
}

.image-grid .animal-grid-item.selected {
  background: rgba(255,111,145,1);
  color: white;
}
.img-container img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.image-grid .animal-grid-item span {
  font-size: 0.875rem;
}

@keyframes opacityFade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 1;
  }
}

.input-error-text {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #E53E3E;
  animation: fadeIn 250ms ease;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}